In [1]:
import numpy as np
import pandas as pd

In [2]:
print('q1:', pd.__version__)

q1: 2.0.3

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
```

In [3]:
df = pd.read_csv('./housing.csv')

In [6]:
print('q2:', len(df))

q2: 20640

In [7]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [8]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [9]:
print('q3:total_bedrooms')

q3:total_bedrooms

In [10]:
print('q4:', df.ocean_proximity.nunique())

q4: 5

In [11]:
print('q5:',df[df['ocean_proximity'] == 'NEAR BAY'].median_house_value.mean())

q5: 259212.31179039303

In [13]:
df.total_bedrooms.mean().round(3)

537.871

In [14]:
df['total_bedrooms'] = df['total_bedrooms'].fillna(df.total_bedrooms.mean().round(3))

In [15]:
df.total_bedrooms.mean().round(3)

537.871

In [16]:
print('q6:NO')

q6:NO

In [18]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [22]:
X = df[
    df['ocean_proximity'] == 'ISLAND'
][
    ['housing_median_age', 'total_rooms', 'total_bedrooms']
].values

In [28]:
XTX = np.dot(X.T, X)

In [30]:
y = np.array([950, 1300, 800, 1000, 1300])

In [39]:
w = np.linalg.inv(XTX).dot(X.T).dot(y)

array([23.12330961, -1.48124183,  5.69922946])

In [40]:
print('q7:', w[-1])

q7: 5.699229455065565